
# Ignorer les fichiers temporaires
*.tmp
*.log

# Ignorer le dossier 'build'
# app/map_dashboard_files/gpx_files
app/static/maps


# Ignorer les fichiers de configuration
config.yaml

# Ignorer les fichiers générés par l'IDE
*.pyc
__pycache__/
.idea/
.vscode/
