:root
{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
    --skin-text-color:#03b26f;
}
body
{
    background: var(--bg-black-900);
    line-height: 1.5;
    font-size: 14px;
    font-family: 'Poppins' sans-serif;
    display: flex;
    flex-direction: column;
    
}
.row
{
    display: flex;
    width: 100vw;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    
}
.board-title
{
    background-color: var(--bg-black-100);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    margin: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}
.title 
{    
    width:100%;
    height: 100px;   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.title h1 
{
    margin: 0;
    color: var(--skin-text-color)
    
}
.title h2
{
    margin: 0;
    color: var(--text-black-900)
}
.board-map
{
    background-color: var(--bg-black-100);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 4*15px);
    height: fit-content;

    margin: 15px;
}
.hidden
{
 display: none;
}
.map_section
{
    
    width: 100%;
    height: 800px;
    padding: 15px;
    

    display: flex;
    align-items: center;      /* Centre verticalement */
    justify-content: center;
    flex-direction: column;   /* Disposition en colonne pour empiler les éléments */
    
   
}
.map_section .map
{
    height: 70%;
    width: 100%;
}
.map_section .chart-container 
{
   
    height: 30%;
    width: 100%;
    margin-top: 10px;

}
canvas {
    display: block;
}

.weather_section
{
    
    width: 100%;
    height: 800px;
    padding: 15px;

    display: flex;
    align-items: center;      /* Centre verticalement */
    justify-content: center;
    flex-direction: column;   /* Disposition en colonne pour empiler les éléments */
}
.weather_section .weather_chart-container 
{
   
    max-height: 33.3%;
    width: 100%;
    

}
@media (max-width:767px)
{
    .carte,
    .meteo
    {
        flex: 0 0 90%;
        max-width: 100%;
        
    }
    
}




