:root
{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
    --skin-text-color:#37b182;
}
body
{
    background: var(--bg-black-900);
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
    
}

body .map_section
{
    width: 100vw;
    height: 800px;
    
    display: flex;
    justify-content: center;  /* Centre horizontalement */
    align-items: center;      /* Centre verticalement */
    flex-direction: column;   /* Disposition en colonne pour empiler les éléments */
  
   
}
body .map_section iframe
{
    width:75%;              
    height: 100%;
}
.map_section h1 
{
    color: var(--skin-text-color)
}
.map_section h2
{
    color: var(--text-black-900)
}




