<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Map</title>
        <script src = "map.js"></script>
    </head>
    <body>

        
        <h1>Paramètres</h1>
        <h2>Choisir un fichier GPX</h2>
        <h3>Importer un nouveau fichier</h3>
        <form action="/upload_gpx" method="POST" enctype="multipart/form-data">
            <label for="gpxFile">Sélectionnez un fichier GPX :</label>
            <input type="file" id="gpxFile" name="gpxFile" accept=".gpx">
            <button type="submit">Charger</button>
        </form>
        <h3>Choisir un fichier existant</h3>
        <ul>
            {% for file in files %}
                <a href="/load_gpx/{{ file }}">{{ file }}</a>
                <br>
            {% endfor %}
        </ul>

        <h2>Sélectionnez une date </h2>
        <h4>(NE FONCTIONNE PAS ENCORE)</h4>
        <i>Optionnel, si pas de date sélectionné la météo ne s'affichera pas</i>
        <form action="/submit-datetime" method="post">
            <label for="date">Choisissez une date :</label>
            <input type="date" id="date" name="date">
            <br><br>
            <label for="time">Choisissez une heure :</label>
            <input type="time" id="time" name="time">
            <br><br>
            <input type="submit" value="Envoyer">
        </form>


    </body>
</html>