<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Map</title>
        <script src = "map.js"></script>
    </head>
    <body>

        
        <h1>Paramètres</h1>
        <h3>Veuillez entrer les paramètres de votre parcours</h3>
        <!-- <form action="/upload_gpx" method="POST" enctype="multipart/form-data">
            <label for="gpxFile">Sélectionnez un fichier GPX :</label>
            <input type="file" id="gpxFile" name="gpxFile" accept=".gpx">
            <button type="submit">Charger</button>
        </form> -->
        <!-- <h3>Choisir un fichier existant</h3>
        <ul>
            {% for file in files %}
                <a href="/load_gpx/{{ file }}">{{ file }}</a>
                <br>
            {% endfor %}
        </ul> -->
        
        
        <form action="/submit" method="POST" enctype="multipart/form-data">
            <label for="date">Choisissez date :</label>
            <input type="date" id="date" name="date" value = '{{ default_date }}' >
            <br><i>Enter date</i><br>
            <br>
            <label for="time">Choisissez une heure :</label>
            <input type="time" id="time" name="time" value = '{{ default_time }}'>
            <br><i>Enter time (not working yet with default time)</i><br>
            <br>
            <label for="gpxFile">Sélectionnez un fichier GPX :</label>
            <input type="file" id="gpxFile" name="gpxFile" accept=".gpx">
            <br><i>Enter .gpx file</i><br>
            <br>
            <label for="speed">Sélectionnez la vitesse moyenne prévue :</label>
            <input type="number" id="speed" name="speed" min="10" max="60" value="30" step = "5">
            <br><i>Enter est. avg. speed</i><br>
            <br>
            <button type="submit">Charger</button>
            

            <!-- <input type="submit" value="Envoyer"> -->
        </form>
        

        <!-- <a>{{ error_message }}</a> -->
                
            
        


    </body>
</html>