<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}?v={{ time }}">
    
    <link rel="icon" href= "{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>

    <div class="logo-container">
        <img src="{{ url_for('static', filename='images/home_logo.png') }}" alt="Logo" class="logo">
    </div>
    

    <div class="navbar">
        <img src="{{ url_for('static', filename='images/home_logo.png') }}" alt="Logo" class="logo">
        <div class="nav-toggler">
            <span></span>
        </div>
        <div class="dropdown">
            <li><span class="nav-column active"><a href="#home" class="active">ACCUEIL</a></span></li>
        </div>
        <div class="dropdown">
            <button class="dropbtn">
                <span class="nav-column"><a>OUTILS</a></span>
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <li><a href="#map">GPXplorer</a></li>
            </div>
        </div>
    </div>

    <div class="main-content">
        <!--DEBUT SECTION ACCUEIL-->
        <section class="home section active" id="home">
            
            <header>
                <title>Accueil</title>
            </header>
            
            <div class="row">
                 <p>Cette page ne contient pas encore de contenu.</p>
            </div>
            
        </section>
        
        <!--DEBUT SECTION CARTE-->
        <section class="map section hidden" id="map">
            <header>
               
                <h2 class="section-title">GPXplorer</h2>
            </header>

            
            <form action="/submit" method="POST" enctype="multipart/form-data">
                <div class="row">

                        <div class="step file">
                            <img src="{{ url_for('static', filename='images/document.png') }}" class="file icon">
                            <h2>Select file</h2>
                            <hr>
                            <div class="files-grid">
                                
                                <div>
                                    <h3>Recent</h3>
                                    

                                    {% for file in recent_files %}
                                        <li><a href="#" class="file-link" data-filename="{{ file }}">{{ file }}</a></li>
                                    {% endfor %}
                                    
                                    
                                </div>
                                <div>
                                    <h3>Races</h3>
                                    {% for file in race_files %}
                                        <li><a href="#" class="file-link" data-filename="{{ file }}">{{ file }}</a></li>
                                    {% endfor %}
                                </div>

                                
                                
                            </div>
                            <input type="hidden" id="selectedFilename" name="filename">
                            
                            <h3>Import new</h3>
                            <div class="linput"><li><input type="file" id="gpxFile" name="gpxFile" accept=".gpx"></li></div>
                            
                                
                               
                            <div class="status">
                                <img id="filestatuspic" src="{{ url_for('static', filename='images/caution.png') }}" class="status-icon">
                                <span class="status-text" id="filestatus">No file selected </span>
                            </div>

                        </div>
                        <div class="step params">
                            <img src="{{ url_for('static', filename='images/settings.png') }}" class="settings icon">
                            
                            <h2>Set parameters <i>(optional)</i></h2>
                            <hr>
                            <div class="params-list">
                                <li><label for="date"><h3>Select date</h3></label></li>
                                <li> <input type="date" id="date" name="date"></li>
                                
                                <li><label for="time"><h3>Select time</h3></label></li>
                                <li><input type="time" id="time" name="time"></li>
                                
                                <li><label for="speed"><h3>Select est. speed</h3></label></li>
                                <li><input type="number" id="speed" name="speed" min="10" max="60" value="30" step = "1" ><span>km/h</span></li>
                                
                                
                            </div>

                            <div class="status">
                                <img src="{{ url_for('static', filename='images/caution.png') }}" class="status-icon">
                                <span class="status-text">Parameters set</span>
                            </div>

                        </div>
                </div>
                <div class="sub-btn-container">
                    <button type="submit" class="btn">Load dashboard</button>
                </div>
            </form>

        </section>
    </div>

    <footer>
        
        
        <a href="https://antoineberger.com/cycling/">CV Sportif</a>
        <p>  &bull;  </p>
        <a href="https://www.strava.com/athletes/7270139">profil Strava</a>
    

    </footer>
    
    <script src="{{ url_for('static', filename='js/index_script.js') }}?v={{ time }}"></script>
    <script>
        // Variable pour stocker le nom du fichier sélectionné
        let selectedFilename = '';

        // Récupérer tous les liens des fichiers
        const fileLinks = document.querySelectorAll('.file-link');
        
   
        fileLinks.forEach(link => {
            link.addEventListener('click', function(event) {
               
                event.preventDefault();  // Empêche le lien d'ouvrir une nouvelle page
                selectedFilename = this.getAttribute('data-filename');  // Stocke le nom du fichier
                document.getElementById('filestatus').textContent = selectedFilename+" selected";  // Affiche le nom du fichier sélectionné
                document.getElementById('filestatuspic').src = "{{ url_for('static', filename='images/check.png') }}";
                document.getElementById('selectedFilename').value = selectedFilename;
            });
        });

        let file = '';

        // récupérer nom fichier importé
        const importedFile = document.getElementById('gpxFile');

        importedFile.addEventListener('change', function() {
            console.log("Change event triggered");

            // Récupérer le fichier sélectionné
            file = this.files[0];
            
            // Vérifier si un fichier a été sélectionné
            if (file) {
                fileName = file.name;  // Récupérer le nom du fichier
                document.getElementById('filestatus').textContent = fileName + " sélectionné";
                
                // Modifier l'image de statut
                document.getElementById('filestatuspic').src = "{{ url_for('static', filename='images/check.png') }}";
            } else {
                document.getElementById('filestatus').textContent = "Aucun fichier sélectionné";
                document.getElementById('filestatuspic').src = "";  // Réinitialiser l'image si aucun fichier
            }
        });
        

        
    </script>
</body>
</html>
