<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map_dashboard_style.css') }}?v={{ time }}">
</head>
<body>

    

    <div class="map_section">
        <h1>{{ title }}</h1>
        <h2>{{dist}} km | {{asc}} m | {{desc}} m</h2>
        <iframe class="map" src="{{ map_url }}"  frameborder="0"></iframe>
      
    </div>
    <div class="weather"></div>
        <!-- <h2>Weather</h2> -->
    </div>

    

</body>
</html>
