<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard avec Carte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='map_dashboard_style.css') }}">
</head>
<body>

    <div class="file_section">
        <form action="/load-file" method="POST" enctype="multipart/form-data">
            <label for="gpxFile">Sélectionnez un fichier GPX :</label>
            <input type="file" id="gpxFile" name="gpxFile" accept=".gpx">
            <br><i>Enter .gpx file</i><br>
            <button type="submit">Load file</button>
        </form>
    </div>

    <header>
        <h1>Route title</h1>
        
    </header>

    <div class="stats">
        <h2>135 km | 2658 m+ | 2687 m-</h2>
    </div>

    <div class="map_section">
        <iframe src="app\map_dashboard_files\maps\map.html" class="map"></iframe>
    </div>

    <div class="weather_section">
        <form action="/load-weather" method="POST" enctype="multipart/form-data"></form>
            <label for="date">Choisissez date :</label>
            <input type="date" id="date" name="date" value = '{{ default_date }}' >
            <br><i>Enter date</i><br>
            <br>
            <label for="time">Choisissez une heure :</label>
            <input type="time" id="time" name="time" value = '{{ default_time }}'>
            <br><i>Enter time (not working yet with default time)</i><br>
            <br>
            <label for="speed">Sélectionnez la vitesse moyenne prévue :</label>
            <input type="number" id="speed" name="speed" min="10" max="60" value="30" step = "5">
            <br><i>Enter est. avg. speed</i><br>
            <br>
            <button type="submit">Load weather</button>
        </form>
    </div>


</body>
</html>
